<section class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card  animated fadeIn">
                        <div class="card-close">
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h3">Edit User {{user.name}}</h3>
                        </div>
                        <div class="card-body">
                            <p>Edit User</p>
                            <form class="form-horizontal form-validate">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Name</label>
                                        <div class="col-sm-9">
                                            <input id="name" ng-model="user.name" type="text" placeholder="name" class="input-material" ng-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Username</label>
                                        <div class="col-sm-9 select">
                                            <input id="username" ng-model="user.username" type="text" placeholder="username" class="input-material" ng-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Password</label>
                                        <div class="col-sm-9">
                                            <input id="password" ng-model="user.password" type="password" placeholder="Password" class="input-material" ng-required="true">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Premium Access</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox"   ng-model="user.premiumAccess"  >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Users access</label>
                                        <div class="col-sm-9">
                                            <input type="checkbox"  ng-model="user.userAccess" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-9 offset-sm-3 nowrap">
                                            <a ui-sref="home.main.users">
                                                <input type="button" value="Back" class="btn btn-primary">
                                            </a>
                                            <input type="button" ng-click="postUser()" value="Edit User" class="btn btn-success">
                                            <input type="reset" value="Clear" class="btn btn-danger">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>